/* styles.css */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: #121212;
color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
background-color: #1e1e1e;
padding: 20px;
border-radius: 10px;
width: 300px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1 ,h2{
text-align: center;
margin-bottom: 20px;
font-size: 24px;
}

button {
width: 40%;
padding: 10px;
background-color: #6200ea;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
transition: background-color 0.3s;
font-size: medium;
}

button:hover {
background-color: #b30f00;
font-weight: 400;
}

ul {
list-style-type: none;
padding: 0;
}

li {
background-color: #333333;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;
display: flex;
justify-content: space-between;
align-items: center;
}

li.completed {
text-decoration: line-through;
opacity: 0.7;
}

li:hover {
background-color: #fbfbfbaf;
color: #121212;
font-weight: 600;
}
.hidden{
display: none !important;
}
#btn-div{
    display: flex;
    justify-content: center;
align-items: center;
}
#score-div{
    display: flex;
    justify-content: center;
align-items: center;
flex-direction: column;
margin: 15px;
}
p{
    font-size: larger;
margin-bottom: 20px;
}